<div class="announcement-bar">
  <div class="announcement-track">
    {% for i in (1..4) %}
      <span class="announcement-item">dermatologically tested <span class="sep"></span></span>
      <span class="announcement-item">Formulated for Indian Men <span class="sep"></span></span>
      <span class="announcement-item">Clinically Proven Actives <span class="sep"></span></span>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [],
  "presets": [
    {
      "name": "Announcement Bar"
    }
  ]
}
{% endschema %}
